@font-face {
  font-family: Parastoo;
  src: url("./fonts/Parastoo.eot");
  src: url("./fonts/Parastoo.eot?#iefix") format("embedded-opentype"), url("./fonts/Parastoo.woff") format("woff"), url("./fonts/Parastoo.ttf") format("truetype");
}
@font-face {
  font-family: ParastooBold;
  src: url("./fonts/Parastoo-Bold.eot");
  src: url("./fonts/Parastoo-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/Parastoo-Bold.woff") format("woff"), url("./fonts/Parastoo-Bold.ttf") format("truetype");
  font-weight: bold;
}
* {
  font-family: Parastoo, sans-serif;
  margin: 0;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-image: url("Media/wallpaper.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-size: 100% 100%;
}

a {
  text-decoration: none;
}

/*************************************navbar section*******************************/
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: transparent;
  display: block;
  position: fixed;
}

.navbar-icon-link {
  padding-left: 60px;
  overflow: hidden;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
}

.navbar i {
  padding-left: 10px;
}

.navbar a.navbar-icon-link:hover {
  color: #5cbe26;
}

.kamal-name {
  font-weight: bolder;
  padding-right: 350px;
  font-size: 25px;
  background-color: transparent;
  color: white;
}

.space-in-navbar {
  padding-left: 350px;
  background-color: transparent;
}

/*************************************banner section*******************************/
#home {
  width: 100%;
  height: 985px;
}

.my-first-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  width: 1040px;
  height: 280px;
  margin: auto;
  padding-top: 345px;
}

.inner-text {
  color: white;
  padding-bottom: 15px;
}

.im-this-and-that {
  font-size: 45px;
  font-weight: bold;
}

.my-first-grid a.social-media-icons {
  color: white;
}

.my-first-grid a.social-media-icons:hover {
  color: #5cbe26;
}

.pro-pic {
  border-radius: 1000px;
  height: 280px;
  width: 280px;
  margin-left: 60px;
}

.job-title {
  color: #5cbe26;
  font-weight: bold;
}

.a-short-article-about-kamal {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.social-media-icons {
  margin: 0 20px 20px 0;
  font-size: 20px;
}

.introduction-button-more-about-me {
  color: white;
  font-size: 15px;
  position: relative;
  padding: 12px 34px 12px 34px;
  border: none;
  overflow: hidden;
  border-radius: 26px;
  font-weight: 500;
  background-color: #5cbe26;
}

.introduction-button-portfolio {
  color: white;
  font-size: 15px;
  position: relative;
  padding: 12px 64px 12px 64px;
  border: none;
  overflow: hidden;
  border-radius: 26px;
  font-weight: 500;
  background-color: #6666;
  margin-left: 10px;
}

.introduction-button-portfolio i {
  padding-left: 6px;
}

/*************************************about me section*******************************/
.about-me-first {
  display: block;
  height: 450px;
  margin-bottom: 50px;
}
.about-me-first .title-of-section {
  height: 100px;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #666666;
}
.about-me-first .title-of-section span {
  color: #5cbe26;
}
.about-me-first .title-of-section p {
  font-size: 30px;
  font-weight: bolder;
}
.about-me-first .about-me-grid {
  display: grid;
  align-items: center;
  width: 75%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  height: 200px;
}
.about-me-first .about-me-grid .about-me-first-column h1 {
  color: #666666;
  margin-bottom: 10px;
}
.about-me-first .about-me-grid .about-me-first-column span {
  color: #5cbe26;
}
.about-me-first .about-me-grid .about-me-first-column article {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #666666;
  margin-bottom: 15px;
}
.about-me-first .about-me-grid .about-me-first-column a {
  display: inline-block;
  color: #eeeeee;
  background-color: #5cbe26;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  padding: 12px 34px;
  margin-top: 10px;
  border: none;
  overflow: hidden;
  border-radius: 26px;
}
.about-me-first .about-me-grid .about-me-first-column a i {
  padding-left: 10px;
}
.about-me-first .about-me-grid .about-me-second-column {
  display: grid;
  align-items: center;
  width: 75%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  height: 450px;
  padding-right: 20px;
  line-height: 40px;
  font-weight: 400;
}
.about-me-first .about-me-grid .about-me-second-column .inner-first-column p {
  color: #666666;
}
.about-me-first .about-me-grid .about-me-second-column .inner-first-column p span {
  color: #212529;
}
.about-me-first .about-me-grid .about-me-second-column .inner-second-column p {
  color: #666666;
}
.about-me-first .about-me-grid .about-me-second-column .inner-second-column p span {
  color: #212529;
}

.experience-and-education {
  display: block;
}
.experience-and-education .header {
  display: block;
  text-align: center;
  width: 100%;
  color: #666666;
  font-size: 1.5rem;
  font-weight: 500;
}
.experience-and-education .experience-and-education-grid .grid-headers {
  display: grid;
  align-items: center;
  width: 75%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  height: 100px;
}
.experience-and-education .experience-and-education-grid .grid-headers .header-box {
  color: #666666;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.17rem;
}
.experience-and-education .experience-and-education-grid .grid-main {
  display: grid;
  align-items: center;
  width: 75%;
  margin: auto;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
}
.experience-and-education .experience-and-education-grid .grid-main .grid-box {
  alignment: center;
  font-weight: 400;
  align-items: center;
  width: 70%;
  color: #666666;
  border-radius: 3px;
  display: block;
  border-right: 3px solid #5cbe26;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  padding: 15px 25px 15px 25px;
  margin-bottom: 24px;
  margin-right: 50px;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.experience-and-education .experience-and-education-grid .grid-main .grid-box h1 {
  display: block;
  margin-bottom: 10px;
}
.experience-and-education .experience-and-education-grid .grid-main .grid-box p {
  display: inline-block;
  margin-left: 16px;
}
.experience-and-education .experience-and-education-grid .grid-main .grid-box p i {
  margin-left: 5px;
}
.experience-and-education .experience-and-education-grid .grid-main .grid-box article {
  display: block;
  margin-top: 4px;
}
.experience-and-education .experience-and-education-grid .grid-main .grid-box span {
  background-color: #5cbe26;
  color: #eeeeee;
  border-radius: 3px;
  padding-right: 5px;
  padding-left: 5px;
}
.experience-and-education .experience-and-education-grid .grid-main .grid-box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.skills .header {
  display: block;
  text-align: center;
  width: 100%;
  color: #666666;
  font-size: 1.5rem;
  font-weight: 500;
}
.skills .main-grid {
  display: grid;
  align-items: center;
  width: 75%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  height: 80px;
}
.counter-cards {
  display: grid;
  align-items: center;
  width: 75%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  alignment: center;
  padding-bottom: 70px;
}
.counter-cards .card {
  display: inline-block;
  margin-top: 30px;
  padding: 28px 28px 28px 28px;
  height: 150px;
  border: 3px solid #d9d9d9;
  border-radius: 5px;
  margin-left: 7px;
  box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
.counter-cards .card .header {
  display: block;
  text-align: left;
  color: #5cbe26;
  font-size: 52px;
  font-weight: bolder;
}
.counter-cards .card .line {
  display: block;
}
.counter-cards .card .line hr {
  color: #666666;
}
.counter-cards .card .card-title {
  display: block;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 500;
  color: #666666;
}
.counter-cards .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/*************************************services section*******************************/
.services {
  display: block;
  margin-bottom: 50px;
}
.services .header {
  height: 100px;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #666666;
}
.services .header span {
  color: #5cbe26;
}
.services .header p {
  font-size: 30px;
  font-weight: bolder;
}

.grid-section {
  display: grid;
  align-items: center;
  width: 75%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-section .card {
  alignment: center;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 40px 30px 30px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  text-align: center;
}
.grid-section .card i {
  color: #5cbe26;
  font-size: 50px;
  margin-bottom: 10px;
}
.grid-section .card .title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.grid-section .card .description {
  font-size: 15px;
  line-height: 30px;
}

/*# sourceMappingURL=style.css.map */
