@font-face {
  font-family: Parastoo;
  src: url("./fonts/IranSans.eot");
  src: url("./fonts/IranSans.eot?#iefix") format("embedded-opentype"), url("./fonts/IranSans.woff") format("woff"), url("./fonts/IranSans.ttf") format("truetype");
}
* {
  font-family: Parastoo, sans-serif;
  margin: 0;
}

body, html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  color: #666666;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a, a i.fa, a img, .button, .btn {
  text-decoration: none;
}

/*************************************navbar section*******************************/
.go-green {
  color: #5cbe26 !important;
}

.navbar-full-page {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999999;
}
.navbar-full-page .navbar-responsive {
  display: block;
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 300px;
  animation: 0.5s navbarToTheLeft;
}
.navbar-full-page .navbar-responsive a:not(.close-navbar) {
  display: block;
  border-top: 1px solid #d9d9d9;
  padding: 8px 15px 8px 30px;
  color: #666666;
  font-size: 14px;
  font-weight: 500;
  transition-duration: 0.3s;
}
.navbar-full-page .navbar-responsive a:not(.close-navbar) i {
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-full-page .navbar-responsive .close-navbar {
  font-weight: 500;
  padding: 10px 15px;
  font-size: 14px;
  display: block;
  transition-duration: 0.3s;
  text-align: left;
}
.navbar-full-page .navbar-responsive .close-navbar i {
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-full-page .navbar-responsive a:hover {
  color: #5cbe26;
}
.navbar-full-page .navbar-responsive a:hover a {
  transition-duration: 0.3s;
}
.navbar-full-page .navbar-responsive a:hover i {
  transition-duration: 1s;
}
.navbar-full-page .navbar-show {
  right: 0;
  animation: 0.5s navbarToTheRight;
}
.navbar-full-page .navbar-go {
  animation: 0.5s navbarToTheLeft;
  right: -100%;
}
@keyframes navbarToTheRight {
  from {
    right: -100%;
  }
  to {
    right: 0;
  }
}
@keyframes navbarToTheLeft {
  from {
    right: 0;
  }
  to {
    right: -100;
  }
}

.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  background-color: transparent;
  display: block;
  position: fixed;
  z-index: 2;
  transition-duration: 0.5s;
  margin: auto;
}
.navbar .bars {
  display: none;
  background-color: transparent;
  border: 0;
}
.navbar .bars:focus {
  border: 0 !important;
}
.navbar a {
  display: initial !important;
  position: absolute;
}
.navbar .i-home {
  right: 50%;
}
.navbar .i-about {
  right: 55%;
}
.navbar .i-services {
  right: 61%;
}
.navbar .i-portfolio {
  right: 67%;
}
.navbar .i-blog {
  right: 72.5%;
}
.navbar .i-contact {
  right: 76.5%;
  padding-left: 0 !important;
}

.navbar-icon-link {
  padding-left: 60px;
  overflow: hidden;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
}

.navbar i {
  padding-left: 10px;
}

.navbar a.navbar-icon-link:hover {
  color: #5cbe26;
}
.navbar a.navbar-icon-link:hover a {
  transition-duration: 0.3s;
}
.navbar a.navbar-icon-link:hover i {
  transition-duration: 1s;
}

.kamal-name {
  font-weight: bolder;
  right: 30%;
  left: 10%;
  font-size: 25px;
  background-color: transparent;
  color: white;
  position: absolute;
  display: inline-block;
}

.bars {
  display: none;
}

.navbar .icon {
  display: none !important;
}

.new-navbar-style {
  transition-duration: 0.5s;
  z-index: 9999 !important;
  box-shadow: 0 8px 6px -6px #666666 !important;
  background-color: white !important;
  height: 40px;
}
.new-navbar-style .bars {
  color: #666666;
}
.new-navbar-style a {
  color: #666666;
}

/*************************************banner section*******************************/
#home {
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  position: relative;
}
#home .container {
  vertical-align: middle;
  display: block;
}
#home .container .banner-grid {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 2fr;
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
  right: 30%;
  top: 35%;
  justify-content: center;
  align-items: center;
}
#home .container .banner-grid .text-part {
  margin-right: 48px;
  z-index: 999;
}
#home .container .banner-grid .inner-text {
  color: white;
  margin-bottom: 15px;
}
#home .container .banner-grid .inner-text h2 {
  font-weight: 400;
  font-size: 18px;
}
#home .container .banner-grid .im-this-and-that {
  font-size: 45px;
  font-weight: 400;
  width: fit-content;
  border-left: 3px solid #d9d9d9;
  overflow: hidden;
}
#home .container .banner-grid .animation-go {
  animation: typescriptGo 0.8s ease;
}
#home .container .banner-grid .animation-back {
  animation: typescriptBack 0.8s ease;
  animation-delay: 0.5s;
}
#home .container .banner-grid a.social-media-icons {
  color: white;
}
#home .container .banner-grid a.social-media-icons:hover {
  color: #5cbe26;
  transition: 0.3s;
}
#home .container .banner-grid .profile-pic {
  z-index: 999;
}
#home .container .banner-grid .pro-pic {
  border-radius: 1000px;
  height: 280px;
  width: 280px;
  border: 10px solid rgba(255, 255, 255, 0.1);
  vertical-align: middle;
}
#home .container .banner-grid .pro-pic .div {
  height: 300px;
  width: 300px;
}
#home .container .banner-grid .im-this-and-that {
  height: 75px !important;
}
#home .container .banner-grid .im-this-and-that span {
  color: #5cbe26;
  font-weight: 400;
  font-size: 45px;
  display: contents;
}
#home .container .banner-grid .a-short-article-about-kamal {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}
#home .container .banner-grid .social-media-icons {
  z-index: 1;
  margin-left: 20px;
  font-size: 20px;
}
#home .container .banner-grid .social-media-icons:hover {
  color: #5cbe26;
}
#home .container .banner-grid .introduction-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}
#home .container .banner-grid .introduction-buttons .button {
  overflow: visible;
  padding: 12px 0 12px 0;
}
#home .container .banner-grid .introduction-buttons .more-about-me {
  box-sizing: border-box;
  display: flex;
  color: white;
  font-size: 15px;
  position: relative;
  padding: 12px 34px 12px 34px;
  border: none;
  overflow: hidden;
  border-radius: 26px;
  font-weight: 500;
  background-color: #666666;
  text-align: center;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
#home .container .banner-grid .introduction-buttons .more-about-me span {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
#home .container .banner-grid .introduction-buttons .more-about-me::before {
  content: "";
  position: absolute;
  top: 0;
  height: 102%;
  left: -25%;
  width: 0;
  transform: skew(-22deg);
  transition-duration: 0.6s;
  z-index: 1;
  background: #444444;
}
#home .container .banner-grid .introduction-buttons .more-about-me:hover::before {
  width: 150%;
}
#home .container .banner-grid .introduction-buttons .more-about-me i {
  padding-left: 6px;
  padding-top: 5px;
  padding-bottom: 6px;
}
#home .container .banner-grid .introduction-buttons .portfolio-button {
  box-sizing: border-box;
  display: flex;
  color: white;
  font-size: 15px;
  position: relative;
  padding: 12px 34px 12px 34px;
  border: none;
  overflow: hidden;
  border-radius: 26px;
  font-weight: 500;
  background-color: #5cbe26;
  justify-content: center;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
#home .container .banner-grid .introduction-buttons .portfolio-button span {
  z-index: 2;
}
#home .container .banner-grid .introduction-buttons .portfolio-button::before {
  content: "";
  position: absolute;
  top: 0;
  height: 102%;
  left: -25%;
  width: 0;
  transform: skew(-22deg);
  transition-duration: 0.6s;
  z-index: 1;
  background: #427700;
}
#home .container .banner-grid .introduction-buttons .portfolio-button:hover::before {
  width: 150%;
}
#home .container .banner-grid .introduction-buttons .portfolio-button i {
  padding-left: 6px;
  padding-top: 5px;
  padding-bottom: 6px;
}

.header-bg-img {
  background-image: url("Media/new-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header-bg-img:after {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.jumper {
  position: absolute;
  bottom: 5vh;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 999;
  cursor: pointer;
  width: 30px;
  height: 60px;
  border: 2px solid white;
  border-radius: 50px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  animation: jump 2s infinite;
  transition: all 0.3s ease;
}
.jumper a {
  background-color: red;
  height: 300px;
  width: 300px;
  z-index: 999;
}

.jumper:before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  width: 8px;
  height: 8px;
  margin-left: -3px;
  background-color: white;
  border-radius: 50%;
  animation: scroll-down 2s infinite;
}

@keyframes scroll-down {
  0% {
    transform: translateY(0);
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
}
@keyframes jump {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
@keyframes hover-button-animation {
  0% {
    width: 0;
  }
  50% {
    width: 90px;
  }
  100% {
    width: 180px;
  }
}
/*************************************about me section*******************************/
#about {
  background-color: white;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about-me-first {
  display: block;
  margin-bottom: 50px;
}
.about-me-first .title-of-section-about-me {
  position: relative;
  line-height: 1.6;
  display: block;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #666666;
  margin: 0 0 50px;
}
.about-me-first .title-of-section-about-me h1 {
  font-size: 50px !important;
}
.about-me-first .title-of-section-about-me .separator {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  background-color: #666666;
  width: 150px;
  height: 5px;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
}
.about-me-first .title-of-section-about-me .separator:after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  position: relative;
  animation: separator 2s linear infinite;
  overflow: hidden;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: #5cbe26;
}
@keyframes separator {
  from {
    right: 0;
    width: 10px;
  }
  to {
    right: 150px;
    width: 180px;
  }
}
.about-me-first .title-of-section-about-me span {
  color: #5cbe26;
}
.about-me-first .title-of-section-about-me p {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 50px;
}
.about-me-first .container {
  display: block;
  margin-bottom: 50px;
}
.about-me-first .container .about-me-grid {
  display: grid;
  width: 65%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
}
.about-me-first .container .about-me-grid .about-me-first-column {
  padding-right: 15px;
  padding-left: 15px;
}
.about-me-first .container .about-me-grid .about-me-first-column h1 {
  color: #666666;
  margin-bottom: 10px;
}
.about-me-first .container .about-me-grid .about-me-first-column .second p {
  margin-left: 16px;
}
.about-me-first .container .about-me-grid .about-me-first-column article {
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  color: #666666;
  margin-bottom: 15px;
}
.about-me-first .container .about-me-grid .about-me-first-column a {
  position: relative;
  display: inline-block;
  color: white;
  background-color: #5cbe26;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
  padding: 12px 34px;
  border: none;
  overflow: hidden;
  border-radius: 26px;
}
.about-me-first .container .about-me-grid .about-me-first-column a::before {
  content: "";
  position: absolute;
  top: 0;
  height: 102%;
  left: -25%;
  width: 0;
  transform: skew(-22deg);
  transition-duration: 0.6s;
  z-index: 1;
  background: #427700;
}
.about-me-first .container .about-me-grid .about-me-first-column a span {
  z-index: 2;
  position: relative;
}
.about-me-first .container .about-me-grid .about-me-first-column a:hover::before {
  width: 150%;
}
.about-me-first .container .about-me-grid .about-me-first-column a i {
  padding-left: 10px;
}
.about-me-first .container .about-me-grid .about-me-first-column .social-media-icons:hover i {
  color: #5cbe26;
}
.about-me-first .container .about-me-grid .about-me-second-column {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 40px;
  font-weight: 400;
}
.about-me-first .container .about-me-grid .about-me-second-column .inner-first-column {
  font-size: 15px;
  font-weight: 400;
}
.about-me-first .container .about-me-grid .about-me-second-column .inner-first-column p {
  color: #666666;
}
.about-me-first .container .about-me-grid .about-me-second-column .inner-first-column p span {
  color: #212529;
}
.about-me-first .container .about-me-grid .about-me-second-column .inner-second-column {
  align-items: center;
}
.about-me-first .container .about-me-grid .about-me-second-column .inner-second-column p {
  color: #666666;
}
.about-me-first .container .about-me-grid .about-me-second-column .inner-second-column p span {
  color: #212529;
}
.about-me-first .container .about-me-grid .about-me-second-column .inner-second-column p .becomes-green:hover {
  color: #5cbe26;
  transition-duration: 0.5s;
  cursor: pointer;
}
.about-me-first .container .about-me-grid .about-me-second-column .inner-second-column .btn {
  margin-right: auto;
  margin-left: auto;
}

.experience-and-education {
  display: block;
  margin-bottom: 50px;
}
.experience-and-education .header {
  margin-top: 20px;
  margin-bottom: 48px;
  display: block;
  text-align: center;
  width: 100%;
  color: #666666;
  font-size: 1.75rem;
  font-weight: 500;
  display: block;
}
.experience-and-education .experience-and-education-grids {
  display: grid;
  align-items: center;
  width: 65%;
  margin: auto;
  margin-right: 19% !important;
  grid-template-columns: 1fr 1fr;
}
.experience-and-education .experience-and-education-grids .education-grid {
  border-right: 2px solid #6666;
  display: grid;
  align-items: center;
  width: 85%;
  grid-template-rows: 0.25fr 1fr 1fr 0.75fr;
  padding-left: 15px;
  padding-right: 24px;
}
.experience-and-education .experience-and-education-grids .education-grid .header-box {
  margin-bottom: 24px;
  font-size: 1.5rem;
  text-align: center;
}
.experience-and-education .experience-and-education-grids .education-grid .card {
  alignment: center;
  font-weight: 400;
  align-items: center;
  color: #666666;
  border-radius: 3px;
  display: block;
  border-right: 3px solid #5cbe26;
  box-shadow: -2px 0 0 1px #dddddd;
  padding: 15px 25px 15px 25px;
  margin-bottom: 24px;
  transition: all 0.3s ease;
  position: relative;
}
.experience-and-education .experience-and-education-grids .education-grid .card h1 {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 28px;
}
.experience-and-education .experience-and-education-grids .education-grid .card .second {
  margin-bottom: 4px;
}
.experience-and-education .experience-and-education-grids .education-grid .card .second p {
  display: inline-block;
  margin-left: 16px;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 4px;
}
.experience-and-education .experience-and-education-grids .education-grid .card .second p i {
  margin-left: 5px;
}
.experience-and-education .experience-and-education-grids .education-grid .card .second article {
  display: block;
  margin-top: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
.experience-and-education .experience-and-education-grids .education-grid .card .second span {
  background-color: #5cbe26;
  color: #eeeeee;
  border-radius: 3px;
  padding-right: 5px;
  padding-left: 5px;
  vertical-align: baseline;
}
.experience-and-education .experience-and-education-grids .education-grid .card:before {
  content: "";
  right: -37px;
  display: block;
  position: absolute;
  background-color: white;
  border: 2px solid #5cbe26;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  z-index: 999;
}
.experience-and-education .experience-and-education-grids .education-grid .card:hover:before {
  background-color: #5cbe26;
}
.experience-and-education .experience-and-education-grids .education-grid .card:after {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 2px;
  top: 14%;
  left: 100.5%;
  background-color: #5cbe26;
  z-index: 0;
}
.experience-and-education .experience-and-education-grids .education-grid .last-one {
  margin-bottom: 0;
}
.experience-and-education .experience-and-education-grids .education-grid .card:hover {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
}
.experience-and-education .experience-and-education-grids .experience-grid {
  border-right: 2px solid #dddddd;
  display: grid;
  align-items: center;
  width: 85%;
  grid-template-rows: 0.25fr 1fr 1fr 0.75fr;
  padding-left: 15px;
  padding-right: 24px;
}
.experience-and-education .experience-and-education-grids .experience-grid .header-box {
  margin-bottom: 24px;
  font-size: 1.5rem;
  text-align: center;
}
.experience-and-education .experience-and-education-grids .experience-grid .card {
  position: relative;
  alignment: center;
  font-weight: 400;
  align-items: center;
  color: #666666;
  border-radius: 3px;
  display: block;
  border-right: 3px solid #5cbe26;
  box-shadow: -2px 0 0 1px #dddddd;
  padding: 15px 25px 15px 25px;
  margin-bottom: 24px;
  transition: all 0.3s ease;
}
.experience-and-education .experience-and-education-grids .experience-grid .card h1 {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 28px;
}
.experience-and-education .experience-and-education-grids .experience-grid .card .second {
  margin-bottom: 4px;
}
.experience-and-education .experience-and-education-grids .experience-grid .card .second p {
  display: inline-block;
  margin-left: 16px;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 4px;
}
.experience-and-education .experience-and-education-grids .experience-grid .card .second p i {
  margin-left: 5px;
}
.experience-and-education .experience-and-education-grids .experience-grid .card .second article {
  display: block;
  margin-top: 4px;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
.experience-and-education .experience-and-education-grids .experience-grid .card .second span {
  background-color: #5cbe26;
  color: white;
  border-radius: 4px;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
  vertical-align: baseline;
}
.experience-and-education .experience-and-education-grids .experience-grid .card:before {
  content: "";
  left: 103.3%;
  display: block;
  position: absolute;
  background-color: white;
  border: 2px solid #5cbe26;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  z-index: 999;
}
.experience-and-education .experience-and-education-grids .experience-grid .card:hover:before {
  background-color: #5cbe26;
}
.experience-and-education .experience-and-education-grids .experience-grid .card:after {
  content: "";
  display: block;
  position: absolute;
  width: 33px;
  height: 2px;
  top: 13%;
  left: 100%;
  background-color: #5cbe26;
  z-index: 0;
}
.experience-and-education .experience-and-education-grids .experience-grid .last-one {
  margin-bottom: 0;
}
.experience-and-education .experience-and-education-grids .experience-grid .card:hover {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
}

.skills .header {
  margin-bottom: 48px;
  display: block;
  text-align: center;
  width: 100%;
  color: #666666;
  font-size: 1.75rem;
  font-weight: 500;
}
.skills .main-grid {
  display: grid;
  align-items: center;
  width: 65%;
  margin: auto;
  width: 65% !important;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 48px;
}
.skills .main-grid .first-column, .skills .main-grid .second-column {
  padding: 0 15px;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(4, 1fr);
}
.skills .main-grid .first-column .item p, .skills .main-grid .second-column .item p {
  margin: 0 0 12px 0;
  line-height: normal;
  opacity: 1;
  font-weight: 600;
  font-size: 14px;
  display: block;
}
.skills .main-grid .first-column .item .percentage, .skills .main-grid .second-column .item .percentage {
  float: left;
  clear: both;
  font-weight: 600;
  margin-top: -38px;
  display: block;
}
.skills .main-grid .first-column .item .bar, .skills .main-grid .second-column .item .bar {
  width: 100%;
  display: block;
  background-color: #d9d9d9;
  border-radius: 3px;
  position: relative;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  height: 10px;
  margin-bottom: 10px;
}
.skills .main-grid .first-column .item .bar .progress, .skills .main-grid .second-column .item .bar .progress {
  width: 0;
  transition-duration: 0.7s;
  height: 10px;
  background-color: #5cbe26;
  border-radius: 3px;
  display: block;
}
.skills .main-grid .second-column {
  padding: 0 15px;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(4, 1fr);
}
.skills .main-grid .second-column .item p {
  margin: 0 0 12px 0;
  line-height: normal;
  opacity: 1;
  font-weight: 600;
  font-size: 14px;
  display: block;
}
.skills .main-grid .second-column .item .percentage {
  float: left;
  clear: both;
  font-weight: 600;
  margin-top: -45px;
}

.counter-cards {
  display: grid;
  align-items: center;
  width: 65%;
  margin: auto;
  width: 65% !important;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  alignment: center;
}
.counter-cards .counter-card {
  position: relative;
  display: block;
  margin-top: 30px;
  padding: 13px;
  box-sizing: border-box;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  transition: 0.3s;
}
.counter-cards .counter-card .header {
  display: block;
  text-align: left;
  color: #5cbe26;
  font-size: 45px;
  font-weight: bold;
  border-bottom: 2px solid rgba(102, 102, 102, 0.4);
  margin: 10px;
}
.counter-cards .counter-card .line {
  display: block;
}
.counter-cards .counter-card .line hr {
  color: #666666;
}
.counter-cards .counter-card .card-title {
  display: block;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 500;
  color: #666666;
  margin-bottom: 10px;
}
.counter-cards .card:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
}

/*************************************services section*******************************/
.services {
  display: block;
  padding-bottom: 70px;
  padding-top: 70px;
  background-color: #f9f9f9;
}
.services .header {
  position: relative;
  line-height: 1.6;
  display: block;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #666666;
  margin: 0 0 50px;
}
.services .header .separator {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  background-color: #666666;
  width: 150px;
  height: 5px;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
}
.services .header .separator:after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  position: relative;
  animation: separator 2s linear infinite;
  overflow: hidden;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: #5cbe26;
}
@keyframes separator {
  from {
    right: 0;
    width: 10px;
  }
  to {
    right: 150px;
    width: 180px;
  }
}
.services .header span {
  color: #5cbe26;
}
.services .header p {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 50px;
}
.services .grid-section {
  display: grid;
  align-items: center;
  width: 65%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
  color: #666666;
}
.services .grid-section .card {
  -webkit-transition: cubic-bezier(0.57, 0.11, 0.27, 0.9) 0.3s;
  transition: cubic-bezier(0.57, 0.11, 0.27, 0.9) 0.3s;
  alignment: center;
  margin-top: 30px;
  margin-right: 15px;
  margin-left: 15px;
  padding: 40px 40px 40px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  text-align: center;
  background-color: transparent;
}
.services .grid-section .card i {
  color: #5cbe26;
  font-size: 40px;
  margin-bottom: 10px;
}
.services .grid-section .card .title {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.services .grid-section .card .description {
  font-size: 15px;
  line-height: 30px;
}
.services .grid-section .card:hover {
  box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  transition: 0.3s;
  background-color: #ffffff;
}
.services .testimonial {
  display: grid;
  align-items: center;
  width: 65%;
  margin: auto;
  grid-template-columns: 1fr;
  position: relative;
}
.services .testimonial .header {
  margin-bottom: 48px;
  display: block;
  text-align: center;
  width: 100%;
  color: #666666;
  font-size: 1.75rem;
  font-weight: 500;
  margin-top: 50px;
}
.services .testimonial .previous-button {
  position: absolute;
  width: 40px;
  font-size: 26px;
  text-align: center;
  background-color: white;
  top: 55%;
  right: -1.7%;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  z-index: 3;
  opacity: 0;
  color: #666666;
  padding-top: 2px;
  padding-left: 5px;
}
.services .testimonial .next-button {
  position: absolute;
  width: 40px;
  font-size: 26px;
  text-align: center;
  color: #666666;
  background-color: white;
  top: 55%;
  left: -1.7%;
  border-radius: 50%;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  z-index: 3;
  opacity: 0;
  transition-duration: 0.5s;
  padding-right: 5px;
  padding-top: 2px;
}
.services .testimonial .next-button i {
  padding-top: 9px;
}
.services .testimonial .previous-button:hover, .services .testimonial .next-button:hover {
  transition-duration: 0.5s;
  background-color: #5cbe26;
}
.services .testimonial .previous-button:hover i, .services .testimonial .next-button:hover i {
  color: white;
}
.services .testimonial .box {
  padding: 20px;
  border: 3px solid;
  border-color: #5cbe26 #d9d9d9 #d9d9d9 #d9d9d9;
  vertical-align: middle;
  align-items: center;
  margin-bottom: 20px;
}
.services .testimonial .box:hover .next-button {
  opacity: 1;
}
.services .testimonial .box:hover .previous-button {
  opacity: 1;
}
.services .testimonial .box:hover .name {
  background-color: white;
  transition-duration: 0.3s;
}
.services .testimonial .box .picture img {
  height: 90px;
  width: 90px;
  border-radius: 40%;
  margin: auto;
  display: block;
  vertical-align: middle;
}
.services .testimonial .box .text {
  text-align: center;
  display: block;
  vertical-align: middle;
  margin-bottom: 17px;
  margin-top: 17px;
  font-style: italic;
  font-weight: 400;
}
.services .testimonial .box .name {
  alignment: center;
  text-align: center;
  vertical-align: middle;
  font-weight: 400;
  display: block;
  border: 1.8px solid #d9d9d9;
  border-radius: 12px;
  margin: auto;
  width: 100px;
  padding: 6px 30px;
  transition-duration: 0.3s;
}
.services .testimonial .other {
  display: grid;
  align-items: center;
  height: 35px !important;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr;
}
.services .testimonial .other .special {
  font-size: 20px;
  color: #5cbe26;
  alignment: center;
  margin: auto;
  transition-duration: 0.5s;
  padding-left: 5px;
  padding-right: 5px;
}
.services .testimonial .other .special:hover {
  cursor: pointer;
}
.services .testimonial .other i:not(.special) {
  alignment: center;
  vertical-align: middle;
  display: inline-block;
  color: #aadb8f;
  font-size: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
  transition-duration: 0.5s;
}
.services .testimonial .other i:not(.special):hover {
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
  padding-top: 0;
  padding-bottom: 0;
  -webkit-transition: all 250ms ease-out 0s;
}

/***************************my portfolio section**********************************/
.portfolio {
  overflow: hidden;
  display: block;
  padding-bottom: 70px;
  padding-top: 70px;
  background-color: white;
}
.portfolio .header {
  position: relative;
  line-height: 1.6;
  display: block;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #666666;
  margin: 0 0 50px;
}
.portfolio .header h1 {
  font-size: 50px !important;
}
.portfolio .header .separator {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  background-color: #666666;
  width: 150px;
  height: 5px;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
}
.portfolio .header .separator:after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  position: relative;
  animation: separator 2s linear infinite;
  overflow: hidden;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: #5cbe26;
}
@keyframes separator {
  from {
    right: 0;
    width: 10px;
  }
  to {
    right: 150px;
    width: 180px;
  }
}
.portfolio .header span {
  color: #5cbe26;
}
.portfolio .header p {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 50px;
}
.portfolio .buttons-grid {
  display: grid;
  align-items: center;
  width: 65%;
  margin: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  display: block;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: center;
}
.portfolio .buttons-grid .bg-green {
  background-color: #5cbe26 !important;
}
.portfolio .buttons-grid a {
  alignment: center;
  display: inline-block;
  color: white;
  font-size: 15px;
  position: relative;
  padding: 12px 34px 12px 34px;
  border: none;
  overflow: hidden;
  border-radius: 26px;
  font-weight: 500;
  padding: 10px 28px !important;
  margin-right: 5px;
  margin-left: 5px;
  background-color: #666666;
  transition-duration: 0.7s;
  cursor: pointer;
}
.portfolio .buttons-grid a:hover {
  background-color: #5cbe26;
  transition: 0.3s;
}
.portfolio .buttons-grid a:active {
  background-color: #5cbe26 !important;
  transition: 0.3s;
}
.portfolio .buttons-grid .all-work {
  background-color: #666666;
}
.portfolio .grid-section-portfolio {
  display: grid;
  align-items: center;
  width: 65%;
  margin: auto;
  width: 65% !important;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: right;
  alignment: center;
}
.portfolio .grid-section-portfolio .card-p {
  alignment: center;
  margin-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  position: relative;
}
.portfolio .grid-section-portfolio .card-p .shows-on-hover {
  padding-top: 10%;
  top: 5px;
  left: 5px;
  bottom: 12px;
  right: 26px;
  position: absolute;
  z-index: 999;
  text-align: center;
  border: dashed 1.7px white;
  transition: all 0.7s;
  opacity: 0;
  transform: scale(0.5);
}
.portfolio .grid-section-portfolio .card-p .shows-on-hover h4 {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
.portfolio .grid-section-portfolio .card-p .shows-on-hover p {
  margin-bottom: 15px;
  font-size: 15px;
  color: white;
  font-weight: 400;
}
.portfolio .grid-section-portfolio .card-p .shows-on-hover .icons {
  margin-top: 25px;
}
.portfolio .grid-section-portfolio .card-p .shows-on-hover .icons a {
  background-color: white;
  border-radius: 50%;
  font-size: 15px;
  color: #666666;
  font-weight: 400;
  padding: 5px;
  margin-right: 7px;
  margin-left: 7px;
  margin-top: 5px;
  line-height: 15px;
  margin-bottom: 15px;
}
.portfolio .grid-section-portfolio .card-p .shows-on-hover .icons a i {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  margin-left: 4px;
  margin-right: 4px;
}
.portfolio .grid-section-portfolio .card-p .shows-on-hover a:hover {
  background-color: #5cbe26;
  color: white;
  transition-duration: 0.5s;
}
.portfolio .grid-section-portfolio .card-p img {
  overflow: hidden;
  alignment: center;
  width: 107%;
  filter: brightness(100%);
  transition-duration: 0.5s;
  border-radius: 5px;
}
.portfolio .grid-section-portfolio .card-p:hover img {
  transition: 0.5s;
  filter: brightness(10%);
}
.portfolio .grid-section-portfolio .card-p:hover .shows-on-hover {
  transform: scale(0.9);
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

/*************************************my blog section*******************************/
.blog {
  display: block;
  padding-bottom: 70px;
  padding-top: 70px;
  background-color: #f9f9f9;
}
.blog .title {
  position: relative;
  line-height: 1.6;
  display: block;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #666666;
  margin: 0 0 50px;
}
.blog .title h1 {
  font-size: 50px !important;
}
.blog .title .separator {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  background-color: #666666;
  width: 150px;
  height: 5px;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
}
.blog .title .separator:after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  position: relative;
  animation: separator 2s linear infinite;
  overflow: hidden;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: #5cbe26;
}
@keyframes separator {
  from {
    right: 0;
    width: 10px;
  }
  to {
    right: 150px;
    width: 180px;
  }
}
.blog .title span {
  color: #5cbe26;
}
.blog .title p {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 50px;
}
.blog .grid {
  display: grid;
  align-items: center;
  width: 65%;
  margin: auto;
  width: 65% !important;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: right;
  alignment: center;
}
.blog .grid .card {
  display: grid;
  align-items: center;
  width: 65%;
  margin: auto;
  width: 90% !important;
  grid-template-rows: 1fr 1fr;
  alignment: center;
  margin-top: 30px;
  display: inline-block;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
}
.blog .grid .card .upper {
  overflow: hidden;
  border-bottom: 5px solid #5cbe26;
}
.blog .grid .card .upper img {
  width: 100%;
  height: 100%;
  display: block;
  transition: transform 0.25s, visibility 0.25s ease-in;
}
.blog .grid .card .upper:hover img {
  filter: brightness(110%);
  transition: 0.5s;
  transform: scale(1.1);
  overflow: hidden;
  cursor: pointer;
}
.blog .grid .card .lower {
  padding: 24px;
}
.blog .grid .card .lower h1 {
  margin-bottom: 10px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
  display: block;
}
.blog .grid .card .lower .date-and-comments .date {
  margin-left: 1rem;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-align: right;
}
.blog .grid .card .lower .date-and-comments .date p i {
  color: #5cbe26;
  margin-left: 8px;
}
.blog .grid .card .lower .date-and-comments .comments {
  margin-left: 1rem;
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-align: right;
}
.blog .grid .card .lower .date-and-comments .comments p i {
  color: #5cbe26;
  margin-left: 8px;
}
.blog .grid .card .lower .description article {
  margin-bottom: 0.25rem;
  margin-top: 0.25rem;
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
}
.blog .grid .card .lower .read-more a {
  color: #5cbe26;
  font-weight: 500;
  height: 30px;
  font-size: 15px;
  text-align: right;
  line-height: 30px;
}
.blog .grid .card .lower .read-more a:hover {
  transition: 0.3s;
  color: #666666;
}
.blog .grid .card:hover img {
  transition: 0.5s;
  transform: scale(1.1);
  overflow: hidden;
}

/*************************************contact-me section*******************************/
.contact-me {
  display: block;
  padding-bottom: 70px;
  padding-top: 70px;
  background-color: white;
}
.contact-me .title {
  position: relative;
  line-height: 1.6;
  display: block;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  color: #666666;
  margin: 0 0 50px;
}
.contact-me .title h1 {
  font-size: 50px !important;
}
.contact-me .title .separator {
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  background-color: #666666;
  width: 150px;
  height: 5px;
  margin: 0 auto;
  border-radius: 50px;
  overflow: hidden;
}
.contact-me .title .separator:after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  position: relative;
  animation: separator 2s linear infinite;
  overflow: hidden;
  border-radius: 2px;
  transition: all 0.5s;
  background-color: #5cbe26;
}
@keyframes separator {
  from {
    right: 0;
    width: 10px;
  }
  to {
    right: 150px;
    width: 180px;
  }
}
.contact-me .title span {
  color: #5cbe26;
}
.contact-me .title p {
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 50px;
}
.contact-me .cards {
  display: grid;
  align-items: center;
  width: 65%;
  margin: auto;
  width: 65% !important;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
  margin-top: 15px;
  text-align: right;
  alignment: center;
}
.contact-me .cards .card {
  display: grid;
  align-items: center;
  width: 65%;
  margin: auto;
  width: 90% !important;
  grid-template-columns: 1fr 1fr;
  padding: 15px;
  alignment: center;
  margin-top: 30px;
  display: flex;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  transition-duration: 0.7s;
}
.contact-me .cards .card .icon {
  cursor: pointer;
  margin-left: 0;
  font-size: 18px;
  background-color: #d9d9d9;
  border-radius: 50%;
  padding: 5px;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  color: #5cbe26;
  transition-duration: 0.7s;
}
.contact-me .cards .card .text {
  margin-right: 16px;
}
.contact-me .cards .card .text .title-of-card {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #666666;
  word-wrap: break-word;
  line-height: 1.2;
  display: block;
  text-align: right;
}
.contact-me .cards .card .text .description {
  display: block;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  text-align: right;
}
.contact-me .cards .card .text .description i {
  display: inline-block;
  font-size: 20px;
  margin-left: 15px;
  font-weight: 400;
  transition-duration: 0.3s;
}
.contact-me .cards .card .text .description i:hover {
  color: #5cbe26;
  transition-duration: 0.3s;
  cursor: pointer !important;
}
.contact-me .cards .card .text .green {
  transition-duration: 0.3s;
}
.contact-me .cards .card .text .green:hover {
  cursor: pointer;
  color: #5cbe26;
  transition-duration: 0.3s;
}
.contact-me .cards .card:hover {
  box-shadow: 0 0 10px 0 #e2e2e2 !important;
}
.contact-me .cards .card:hover .icon {
  color: white;
  background-color: #5cbe26;
  transition: 0.3s;
}
.contact-me .sentence p {
  display: grid;
  align-items: center;
  width: 65%;
  margin: auto;
  grid-template-columns: 1fr;
  margin-top: 24px;
  margin-bottom: 16px;
  margin-right: 18%;
  margin-left: 18%;
}
.contact-me .forms {
  display: grid;
  align-items: center;
  width: 65%;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5px;
  width: 65% !important;
}
.contact-me .forms .div {
  margin: 10px;
}
.contact-me .forms input {
  box-sizing: border-box;
  alignment: left;
  padding: 5px 10px;
  overflow: hidden;
  vertical-align: middle;
  font-size: 14px;
  height: 50px;
  box-shadow: none;
  outline: none;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  width: 100%;
  display: inline-block;
  line-height: 1.5;
  background-color: #ffffff;
  text-align: right;
  padding-left: 50px;
}
.contact-me .forms .input-is-okay {
  transition-duration: 0.5s;
  border-color: #5cbe26;
}
.contact-me .forms .input-is-empty {
  transition-duration: 0.5s;
  border-color: #ff253a;
}
.contact-me .forms .focus-okay:focus {
  transition-duration: 0.5s;
  box-shadow: 0 1px 7px 0 #5cbe26 !important;
}
.contact-me .forms .input-container {
  margin: 5px;
  position: relative;
}
.contact-me .forms .input-container input:focus {
  border-color: #5cbe26;
}
.contact-me .forms .fa-check {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #427700;
  display: none;
}
.contact-me .forms .message input {
  width: 200%;
  height: 106px;
  text-align: start;
}
.contact-me .forms a {
  color: white;
  font-size: 15px;
  position: relative;
  padding: 12px 34px 12px 34px;
  border: none;
  overflow: hidden;
  border-radius: 26px;
  font-weight: 500;
  margin-top: 5px;
  display: flex;
  background-color: #5cbe26;
  width: 20%;
  text-align: center;
}
.contact-me .forms a:hover {
  background-color: #3d7814;
  transition: 0.5s;
  cursor: pointer;
}
.contact-me a {
  color: white;
  font-size: 15px;
  position: relative;
  padding: 12px 34px 12px 34px;
  border: none;
  overflow: hidden;
  border-radius: 26px;
  font-weight: 500;
  background-color: #5cbe26;
  text-align: center;
  margin-right: 18%;
}
.contact-me a:hover {
  background-color: #3d7814;
  transition: 0.5s;
}

/*************************************footer section*******************************/
footer {
  padding: 25px;
  text-align: center;
  background-color: #f9f9f9;
}

/*****************************************************************here comes yasmin bruhhhh*********************************************************************/
@media screen and (max-width: 750px) {
  /*************************home********************************/
  #home .btn {
    width: 203px;
    margin-right: auto;
    margin-left: auto;
  }
  #home .banner-grid {
    top: 25% !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 0.25fr 1fr;
    justify-content: center;
    right: 11% !important;
  }
  #home .banner-grid .im-this-and-that {
    margin: auto;
  }
  #home .banner-grid .text-part {
    margin-right: 0 !important;
  }
  #home .banner-grid .text-part .introduction-buttons {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr !important;
  }
  #home .banner-grid .text-part .introduction-buttons .btn {
    margin-right: auto;
    margin-left: auto;
  }
  #home .banner-grid .text-part .introduction-buttons a {
    padding: 5px;
  }
  #home .banner-grid img {
    display: block;
    margin: auto;
    align-items: center;
    height: 150px !important;
    width: 150px !important;
  }
  #home .banner-grid h2 {
    margin-top: 10px;
    text-align: center;
  }
  #home .banner-grid .inner-text {
    text-align: center;
  }
  #home .jumper {
    display: none;
  }

  /*****************services************************************/
  .services .grid-section {
    grid-template-columns: 1fr;
  }

  /****************portfolio*******************/
  .portfolio .buttons-grid {
    grid-template-columns: 1fr 1fr;
  }
  .portfolio .buttons-grid div {
    width: 100%;
    display: inline-block;
  }
  .portfolio .grid-section {
    grid-template-columns: 1fr;
  }

  /**********************blog*********************/
  .blog .grid {
    grid-template-columns: 1fr;
  }

  /*****************************contact me************************/
  .contact-me .cards {
    grid-template-columns: 1fr;
  }
  .contact-me .forms {
    grid-template-columns: 1fr;
  }
  .contact-me .forms .message {
    width: 50%;
  }

  /****************************************about me *****************************/
  #about .about-me-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
  #about .about-me-grid .about-me-second-column {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
  }
  #about .experience-and-education .experience-and-education-grids {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  #about .experience-and-education .experience-and-education-grid .grid-main {
    grid-template-columns: 1fr;
  }
  #about .experience-and-education .experience-and-education-grid .counter-cards {
    grid-template-columns: 1fr 1fr;
  }
  #about .skills .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #about .counter-cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  /******************************************************portfolio**************************************************/
  .portfolio .grid-section-portfolio {
    grid-template-columns: 1fr;
  }
  .portfolio .buttons-grid {
    grid-template-columns: 1fr;
  }

  /***********8navbar**********/
  nav {
    height: 40px;
  }
  nav a:not(.bars, .kamal-name) {
    display: none !important;
    position: relative;
  }
  nav .bars {
    display: initial !important;
    color: white;
    font-size: 32px;
    position: absolute;
    left: 10%;
    top: 10%;
  }
  nav .bars:hover {
    cursor: pointer;
  }
  nav .kamal-name {
    padding: 0 !important;
    right: 30%;
    position: absolute;
    display: initial;
    top: 10%;
  }
}
/******************************************************************************************************************************************************************/
@media screen and (min-width: 750px) and (max-width: 1111px) {
  /*******************************banner********************************/
  #home .btn {
    width: 203px;
    margin-right: auto;
    margin-left: auto !important;
  }
  #home .banner-grid {
    top: 25% !important;
    grid-template-columns: 1fr !important;
    grid-template-rows: 0.75fr 1fr;
    justify-content: center;
    right: 23% !important;
  }
  #home .banner-grid .im-this-and-that {
    margin: auto;
  }
  #home .banner-grid .text-part {
    margin-right: 0 !important;
  }
  #home .banner-grid img {
    display: block;
    margin: auto;
    align-items: center;
    height: 200px !important;
    width: 200px !important;
  }
  #home .banner-grid h2 {
    margin-top: 10px;
    text-align: center;
  }
  #home .banner-grid .inner-text {
    text-align: center;
  }
  #home .jumper {
    display: none;
  }

  /*************************services*******************/
  .services .grid-section {
    grid-template-columns: 1fr 1fr;
  }

  /****************portfolio******************************/
  .portfolio .buttons-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .portfolio .buttons-grid div {
    display: inline-block;
  }
  .portfolio .grid-section {
    grid-template-columns: 1fr 1fr;
  }

  /*********************blog*******************/
  .blog .grid {
    grid-template-columns: 1fr 1fr;
  }

  /**************************************about me******************************/
  #about .about-me-grid {
    display: grid;
    width: 75%;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1fr;
  }
  #about .skills .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  #about .experience-and-education .experience-and-education-grids {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
  }
  #about .experience-and-education .experience-and-education-grids .experience-grid .card {
    alignment: center;
    font-weight: 400;
    align-items: center;
    color: #666666;
    border-radius: 3px;
    display: block;
    border-right: 3px solid #5cbe26;
    box-shadow: -2px 0 0 1px #dddddd;
    padding: 15px 25px 15px 25px;
    margin-bottom: 24px;
    transition: all 0.3s ease;
    position: relative;
    z-index: 2;
  }
  #about .experience-and-education .experience-and-education-grids .experience-grid .card h1 {
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 28px;
  }
  #about .experience-and-education .experience-and-education-grids .experience-grid .card .second {
    margin-bottom: 4px;
  }
  #about .experience-and-education .experience-and-education-grids .experience-grid .card .second p {
    display: inline-block;
    margin-left: 16px;
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 4px;
  }
  #about .experience-and-education .experience-and-education-grids .experience-grid .card .second p i {
    margin-left: 5px;
  }
  #about .experience-and-education .experience-and-education-grids .experience-grid .card .second article {
    display: block;
    margin-top: 4px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
  }
  #about .experience-and-education .experience-and-education-grids .experience-grid .card .second span {
    background-color: #5cbe26;
    color: #eeeeee;
    border-radius: 3px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 5px;
    vertical-align: baseline;
  }
  #about .experience-and-education .experience-and-education-grids .experience-grid .card:before {
    content: "";
    right: -37px !important;
    display: block;
    position: absolute;
    background-color: white;
    border: 2px solid #5cbe26;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    z-index: 999;
  }
  #about .experience-and-education .experience-and-education-grids .experience-grid .card:hover:before {
    background-color: #5cbe26;
  }
  #about .experience-and-education .experience-and-education-grids .experience-grid .card:after {
    content: "";
    display: block;
    position: absolute;
    width: 33px;
    height: 2px;
    top: 15%;
    left: 100.5%;
    background-color: #5cbe26;
    z-index: 0;
  }
  #about .experience-and-education .experience-and-education-grids .experience-grid .last-one {
    margin-bottom: 0;
  }
  #about .experience-and-education .experience-and-education-grids .experience-grid .card:hover {
    box-shadow: 0 0 10px rgba(33, 33, 33, 0.2);
  }
  #about .counter-cards {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  /********************contact me*****************************************************/
  .contact-me .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .contact-me .forms {
    grid-template-columns: 1fr;
  }
  .contact-me .forms .message input {
    width: 100%;
  }

  /*******************************portfolio************************************/
  .portfolio .buttons-grid {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .portfolio .grid-section-portfolio {
    grid-template-columns: 1fr 1fr;
  }

  /**********************************navbar******************************************/
  nav {
    height: 40px;
  }
  nav a:not(.bars, .kamal-name) {
    display: none !important;
    position: relative;
  }
  nav .bars {
    display: initial !important;
    color: white;
    font-size: 32px;
    position: absolute;
    left: 10%;
    top: 10%;
  }
  nav .bars:hover {
    cursor: pointer;
  }
  nav .kamal-name {
    padding: 0 !important;
    right: 30%;
    position: absolute;
    display: initial;
    top: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
